:root {
    color-scheme: light;

    --primary: hsl(266, 52, 38);
    --fg: hsl(261, 43, 9);
    --bg: hsl(249, 14, 90);
    --neutral: hsl(249, 9, 85);
}

:root[data-theme="dark"] {
    color-scheme: dark;

    --primary: hsl(266, 52, 38);
    --fg: hsl(260, 43, 99);
    --bg: hsl(249, 14, 10);
    --neutral: hsl(249, 9, 15);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.6;
  color: var(--fg);
  background-color: var(--bg);
  font-family: 'Outfit', sans-serif;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: no-preference) {
    html:focus-within {
        scroll-behavior: smooth;
    }
}
